$primary: #5a3574;
$secondary: #afbf32;

/* Color Theme Swatches in Hex */
$purple-defalult: #8c45bf;
$purple-light: #9c6bbf;
$purple-dark: #5a3574;
$yellow-default: #afbf32;
$yellow-dark: #6b7335;
$gray-1: #edece4;
$gray-2: #cbc6b9;
$gray-3: #988c77;

$shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
